.page {
  display: none;
}

.progress{
  display: none;
}

.single-movie-holder{
  padding-top: 2em;
  padding-bottom: 2em;
}

.sources-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.divider{
  background: linear-gradient(black, grey);
  height: 15px;
}

.submitbutton{
  width: 40%;
  font-size: 1vw;
}


@media only screen and (max-width: 992px) {
  .submitbutton {
    font-size: 10px;
    word-wrap: break-word;
  }
  .material-icons {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .submitbutton {
    font-size: 6px;
    word-wrap: break-word;
  }

}
.card-action.submit{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.h3{
  font-weight: 500;
}
