.page {
  display: none;
}

.progress{
  display: none;
}

.single-movie-holder{
  padding-top: 2em;
  padding-bottom: 2em;
}

.sources-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.divider{
  background: linear-gradient(black, grey);
  height: 15px;
}

.submitbutton{
  width: 40%;
  font-size: 1vw;
}


@media only screen and (max-width: 992px) {
  .submitbutton {
    font-size: 10px;
    word-wrap: break-word;
  }
  .material-icons {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .submitbutton {
    font-size: 6px;
    word-wrap: break-word;
  }

}
.card-action.submit{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.h3{
  font-weight: 500;
}

  .card.home{
    border: 3px solid #FF6D00
  }

  .card.media{
    border: 1px solid #FF6D00
  }


.home-page {
  min-height: 100vh;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: #FF6D00;
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
  color: rgba(255, 109, 0, 0.7);
}

.tabs .indicator {
  background-color: #FF9100;
}

.tabs .tab a {
  color: rgba(255,145, 0, 0.7);
}

.title{
  color: #FFF;
}

.about-holder{
  color: #FFF;
}

.about-span{
  color: #FF9100;
}
